@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('../Components/Assets/img/body-bg.png');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
background-size: cover;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: 7%;
margin-bottom: auto;
width: 400px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

nav#mainNav.navbar {
  background: #00000070;
  padding-top: 0;
  padding-bottom: 0;
}

footer.footer {
  background-color: #000000cf;
  padding: 23px 0;
  color: #d5d5d5;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem; 
  margin-bottom: 1rem;
}
hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem; 
  margin-bottom: 1rem;
}


.about-desc .about-desc-title {
  font-weight: bold;
}

.ml-two {
  margin-left: 5px;
}

@media screen and (max-width: 992px) {
  .about-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .about-desc .about-desc-title {
    width: 100%;
    display: block;
  }

  .about-desc .btn-group {
    width: 100%;
    margin-top: 2px;
  }
  .ml-two {
    margin-left: 0px;
  }

}
/* Made with love by Mutiullah Samim*/


.social_icon span{
font-size: 40px;
margin-left: 10px;
color: grey;
}

.social_icon span:hover{
color: grey;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: grey;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;
}

.remember input {
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
/* background-color: grey; */
width: 100px;
}

.login_btn:hover{
color: black;
background-color: greenyellow;
}

.links a{
margin-left: 4px;
}

*[role="form"] {
  max-width: 530px;
  padding: 15px;
  margin: 0 auto;
  border-radius: 0.3em;
  background-color: #f2f2f2;
}

*[role="form"] h2 { 
  font-family: 'Open Sans' , sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #000000;
  margin-top: 5%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.alert-div {
  background-color: #000000;
}

